# Build results
bin/
obj/

# User secrets
appsettings.json
appsettings.Development.json

Authorization/Authorization/bin/
Authorization/Authorization/obj/
Authorization/Authorization/bin/Debug/net8.0/appsettings.json


# VSCode / Rider
.vscode/
.idea/

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db
