 .container {
     display: flex;
     flex-direction: column;
     flex: 1;
     overflow: hidden;
     transform: translate3d(0, 0, 0);
     will-change: transform;
     backface-visibility: hidden;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;

 }

 .container :global(.virtuoso-scroller) {
     padding: 0;
     margin: 0;
 }

 /* Селектор для контейнера с прокруткой */
 .myScrollContainer::-webkit-scrollbar {
     width: 8px;
     /* ширина скроллбара */
     /* отодвигаем от правого края (отступ) — тут работает не всегда */
     margin-right: 20px;
 }

 /* Трек — основная часть */
 .myScrollContainer::-webkit-scrollbar-track {
     background: #212124;
     border-radius: 8px;
     /* вертикальные отступы для визуального сужения трека */
 }

 .myScrollContainer::-webkit-scrollbar-thumb {
     background-color: #2C2F36;
     border-radius: 10px;
 }

 /* Ползунок при наведении */
 .myScrollContainer::-webkit-scrollbar-thumb:hover {
     background-color: #555;
 }

 /* Убрать стрелочки (они могут появляться в старом IE/Edge) */
 .myScrollContainer::-webkit-scrollbar-button {
     display: none;
 }